.fixedLogo {
  display: none;
  transition: color .5s ease-in-out;

  @include bp-1 {
    position: fixed;
    width: 100%;
    bottom: calc(var(--project-title-height) + var(--unit-45));
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1;
    will-change: transform;
  }
  .c-red & {
    color: var(--red);
  }
  svg {
    width:   49px;
    height: 188px;
  }
}

.fixedLogo {
  .hideFixedLogo & {
    display: none;
  }
  .showFixedLogo & {
    position: fixed;
    width: 100%;
    bottom: calc(var(--project-title-height) + var(--unit-45));
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    z-index: 1;
    will-change: transform;
  }
  .blackFixedLogo & {
    color: var(--black);
  }
}
