.headroom-wrapper {
  position: relative;
  z-index: 1000;
}

header {
  border-bottom: 1px solid var(--black);
  position: relative;
  z-index: 2001;
}

header > .container {
  flex-shrink: 0;
  height: var(--unit-12);
  display: flex;
  align-items: center;
}

.header-menuButton {
  display: flex;
  height: var(--unit-9);
  width: var(--unit-9);
  outline: none;
  
  svg {
    flex: 1;
  }
}
