.headroom-wrapper {
  position: relative;
  z-index: 1000;
}

.headroom {
  will-change: transform;
}

header {
  border-bottom: 1px solid currentColor;
  background-color: var(--white);
  .bg-lightRed & {
    background-color: var(--lightRed);
  }
  transition: background-color 300ms, color 300ms;
  position: relative;
  z-index: 2001;
}

header > .container {
  flex-shrink: 0;
  align-items: center;
  display: flex;
  height: var(--unit-12);
  @include bp-1 {
    height: calc(var(--unit-12) + 20px);
  }
  @include bp-2 {
    height: calc(var(--unit-12) + 44px);
  }
}

.headerLogo {
  display: inline-block;
  width: 200px;
  @include bp-1 {
    width: 372px;
  }
  @include bp-2 {
    width: 480px;
  }
}

.header-menuButton {
  width: var(--unit-9);
  height:  var(--unit-6);
  position: relative;
}

.line {
    position: absolute;
    height: 1px;
    background-color: currentColor;
    width: 100%;
    left: 0;
    transform-origin: center;
    transition: transform .25s cubic-bezier(.215,.61,.355,1), background-color .25s;
    will-change: transform, background-color;
}

.lineInterior {
    top: 50%;
    margin-top: -1px;
    
    .isActive & {
        transform: rotate(45deg);
    }
}

.lineInterior-2 {
    .isActive & {
        transform: rotate(-45deg);
    }
}

.lineExterior {
    .isActive & {
        transform: scaleX(0)
    }
}

.line:nth-child(1) {
    top: 0;
}

.line:nth-child(4) {
    bottom: 0;
}
