.headroom-wrapper {
  position: relative;
  z-index: 1000;
}

.headroom {
  will-change: transform;
}

header {
  border-bottom: 1px solid currentColor;
  background-color: var(--white);
  .bg-lightRed & {
    background-color: var(--lightRed);
  }
  transition: background-color 300ms, color 300ms;
  position: relative;
  z-index: 2001;
}

header > .container {
  flex-shrink: 0;
  align-items: center;
  display: flex;
  height: var(--unit-12);
  @include bp-1 {
    height: calc(var(--unit-12) + 20px);
  }
  @include bp-2 {
    height: calc(var(--unit-12) + 44px);
  }
}

.headerLogo {
  display: inline-block;
  width: 200px;
  @include bp-1 {
    width: 372px;
  }
  @include bp-2 {
    width: 480px;
  }
}

.header-menuButton {
  display: flex;
  height: var(--unit-9);
  width: var(--unit-9);
  color: currentColor;
  
  svg {
    flex: 1;
  }
}
