.hero {
  height: calc(100vh - var(--header-height) - var(--project-title-height) - var(--unit-28));
  display: flex;

  @include bp-1 {
    height: calc(100vh - var(--header-height) - var(--project-title-height) - var(--unit-45));
  }

  @include bp-2 {
    height: calc(100vh - var(--header-height) - var(--project-title-height) - var(--unit-45));
  }

  img {
    flex: 1;
    object-fit: cover;
  }
}