.menu {
  z-index: 2000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: var(--header-height);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
