.menu {
  z-index: 2000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: var(--header-height);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
    @media (max-height: 700px) {
      font-size:   51px;
      line-height: 56px;
    }
  }
}

// to disable scrolling on layout/index.js

.scrollingIsDisabled {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

