.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-next {
  right: 0;
}

.slick-list, .slick-track {
  flex: 1;
  display: flex !important;
  min-width: 0;
  min-height: 0;
}

.slick-list {
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.slick-slide {
  min-width: 0;
  min-height: 0;
  flex: 1;
  display: flex !important;
  overflow: hidden;

  > div {
    display: flex !important;
    flex: 1;
  }

  .slide {
    position: relative;
    display: flex !important;
  }

  img {
    object-position: center center;
  }
}

.slide-info {
  position: absolute;
  bottom: var(--unit-10);
  left: var(--unit-10);
}