// all resuable grid classes

$gutter: 4.21%;

@for $h from 1 through length($breakpoints) {
  @if nth($breakpoints, $h) == 'bp-1' {
    @for $i from 2 through 12 {
      @include bp-1 {
        .#{nth($breakpoints, $h)}_grid-#{$i}col {
          display: grid;
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
          grid-column-gap: $gutter;
        }
      }
    }
  }

  @else if nth($breakpoints, $h) == 'bp-2' {
    @for $i from 2 through 12 {
      @include bp-2 {
        .#{nth($breakpoints, $h)}_grid-#{$i}col {
          display: grid;
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
          grid-column-gap: $gutter;
        }
      }
    }
  }

  @else {
    @for $i from 2 through 12 {
      .grid-#{$i}col {
        display: grid;
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        grid-column-gap: $gutter;
      }
    }
  }
}

@for $h from 1 through length($breakpoints) {
  @if nth($breakpoints, $h) == 'bp-1' {
    @for $i from 1 through 12 {
      @include bp-1 {
        .#{nth($breakpoints, $h)}_colSpan-#{$i} {
          grid-column: span $i;
        }
      }
    }
  } 
  @else if nth($breakpoints, $h) == 'bp-2' {
    @for $i from 1 through 12 {
      @include bp-2 {
        .#{nth($breakpoints, $h)}_colSpan-#{$i} {
          grid-column: span $i;
        }
      }
    }
  }
  @else {
    @for $i from 1 through 12 {
      .colSpan-#{$i} {
        grid-column: span $i;
      }
    }
  }
}

.nestedGrid-8-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: $gutter * 1.532;
}

// @for $i from 1 through 12 {
//   .colOffset-#{$i}{
//     grid-column: span $i;
//   }
// }



