.hide { display: none !important; }

.block {display: block;}

.t-center { text-align: center; }

.flex {
  display: flex;
}

.flex-1 { flex: 1 }

.justifySpaceBetween {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}