// Imports
// imports

@import "./config/reset";
@import "./config/vars";
@import "./config/typography";
@import "./config/base";
@import "./config/grid";
@import "./config/layout";
@import "./config/helpers";

// modules
@import "~slick-carousel/slick/slick.css";

// components
@import "./components/header";
@import "./components/footer";
@import "./components/hero";
@import "./components/infoObjects";
@import "./components/slider";
@import "./components/menu";
@import "./components/fixedLogo";

// pages
@import "./pages/project";

